@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* [!] Menambahkan warna kustom Anda langsung di CSS */
  --color-eerie-black: #131413;
}

@layer utilities {
  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: var(--color-neutral-700) transparent;
  }
  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #404040; /* neutral-700 */
    border-radius: 20px;
  }
}